@font-face {
    font-family: 'Chomsky';
    src: url("chomsky/Chomsky.otf") format("opentype");
}

@font-face {
    font-family: 'Orbiter';
    src: url("TASA_Orbiter/static/TASAOrbiter-Bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbiter';
    src: url("TASA_Orbiter/static/TASAOrbiter-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Cormorant";
    src: url("Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face{
    font-family: "Cormorant";
    src: url("Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root{
    --white: #F5F5F5;
}

#publisher{
    font-family: 'Chomsky', cursive;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.35rem;
}

#header1{
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom: 1px solid #0c0c0c;

}

#search svg{
    height: 2.3rem;
}

body{
    margin: 0;
    font-family: 'Orbiter', sans-serif;
    background-color: var(--white);
}

#search{
    vertical-align: center;
}

#menu{
    background-color: #0c0c0c;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    gap: 2.25rem;
}

#body-container{
    margin: auto 27% auto 27%
}

#body-container p{
    font-size: 1.12rem;
}

#subtext{
    font-style: italic;
    font-family: "Cormorant", "sans-serif";
    font-size: 1.7rem;
    color: #404040;
    margin: 0 1rem 2rem 0.5rem;
}

#date{
    font-size: 0.95rem !important;
    color: #404040
}

#aaa{
    margin: 3rem auto 0 auto;
    color: #707070;
    /*font-weight: bold;*/
}

#title{
    margin-top: 0.65rem;
}

hr{
    border: 1px solid #a0a0a0;
    margin: auto 3rem 2rem auto;
}

#writer{
    color: #404040;
}

.writer{
    font-size: 1rem !important;
    margin-bottom: 0;
}

#date{
    margin: 0.1rem auto auto 0.25rem;
}

#fucker{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

#subscribe{
    background-color: #0e0e0e;
    color: var(--white);
    font-size: 0.7rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
}

#location {
    color: #707070;
    font-weight: bold;
}