@font-face {
    font-family: 'Chomsky';
    src: url("chomsky/Chomsky.otf") format("opentype");
}

@font-face {
    font-family: 'Orbiter';
    src: url("TASA_Orbiter/static/TASAOrbiter-Bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbiter';
    src: url("TASA_Orbiter/static/TASAOrbiter-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

#publisher{
    font-family: 'Chomsky', cursive;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.35rem;
}

#header1{
    padding: 0.75rem;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-between;
    align-items: center;
}

#search svg{
    height: 2.3rem;
}

body{
    margin: 0;
    font-family: 'Orbiter', sans-serif;
}

#search{
    vertical-align: center;
}

#menu{
    background-color: #0c0c0c;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
}